header{
    width: 100%;
    height: 0.88rem;
    padding: 0 0.22rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    line-height: 0.88rem;
    background-color: #fbfeff ;
    font-size: 0.38rem;
    color: #4ebbfe;
    position: fixed;
}
header >a {
    text-decoration: none;
    color: #4ebbfe;
}
.image{
    width: 7.5rem;
    height: 8.76rem;
}
.image>img  {
    width: 3.0rem;
    height: 3.6rem;
    margin-left: 30%;
    margin-top: 40%;
}
.productInformation{
    padding: 0 0.22rem;
    border-bottom: 0.01rem solid;
    border-color: rgba(216, 223, 227, 0.3);
}
.information>p{
    display:-webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:3;
    overflow: hidden;
}
.information>div.tittle{
    opacity: 0.6;
    font-size: 0.3rem;
    padding-bottom: 0.14rem;
    color: #000000;
}
.information>p{
    font-size: 0.22rem;
    line-height: 0.32rem;
    color: #000000;
    opacity: 0.3;
}

.info{
    font-size: 0.2rem;
    padding:0.18rem 0;
}
.info>span:nth-child(1){
    font-size: 0.26rem;
    color: #fbb548;
}
.info>span:nth-child(2){
    color: #41b2fc;
    background-color: rgba(65,178,252,0.1);
    padding: 0.08rem 0.2rem;
    border-radius: 0.22rem;
    margin-right: 0.3rem;
}
.info>span:nth-child(3) {
    color: #36d681;
    background-color: rgba(54, 214, 129, 0.1);
    border-radius: 0.22rem;
    padding: 0.08rem 0.2rem;
}
.info > .total{
    float: right;
    position: relative;
    padding-left: 0.1rem;
}

.total::before{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0.15rem;
    width: 0.05rem;
    height: 0.05rem;
    background-color: #36d681;
    box-shadow: 0 0.02rem 0.05rem 0;
    rgba(54, 214, 129, 0.43);
    border-radius: 0.03rem;
}
.total>span{
    color: #36a8fe;
    font-size: 0.24rem;
}
.discount>span{
    padding: 0.08rem 0.2rem;
    background-image: linear-gradient(270deg,
    #ffca3b 0,
    #ff933b 100%);
    linear-gradient(
            #ffc471,
            #ffc471);
    border-radius: 0.2rem;
    color: #fbfeff;
}
h1.tittle{
    font-size: 0.32rem;
    color: #41b2fc;
    padding: 0.4rem 0.22rem;
}
h1.tittle b{
    color: #4f5b64;
}
h1.tittle>a{
    font-size: 0.22rem;
    color: #41b2fc;
    text-decoration: none;
    float: right;
    line-height: 0.4rem;
}
h1.tittle>a>i{
    font-size: 0.22rem;
    margin: 0 -0.05rem;
}
h1.tittle>a>i:nth-child(2){
    opacity: 0.5;
}
.comment{
    height: auto;
    padding :0 0.22rem;

}
.comment .commentItem{
    height: 1.97rem;
    border-bottom: 0.01rem solid #d8dfe3;
    display: flex;
    flex: none;
}
.comment .avatar{
    width: 0.86rem;
    height: 0.86rem;
}
.comment .avatar img{
    width: 0.86rem;
    height: 0.86rem;
}
.comment .commentInfo{
    flex-grow: 1;
    background-color: #046b80;
}
.infoTop{
    font-size: 0.2rem;
    color: #41b2fc;
}
.infoTop > .username{
    margin-right: 0.4rem;
}
.info >.date{
    float: right;
}
.info .star{
    float: left;
    position: relative;
    width: 1.28rem;
}
.info .star>[src]{
    width: 1.28rem;
    height: 0.22rem;
}

